* text=auto eol=lf
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-hin.hin.acx -text
/apertium-hin.hin.dix -text
/apertium-hin.hin.rlx -text
/apertium-hin.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/codes.txt -text
dev/editdist.py -text
dev/hin.freq.categorised.txt -text
dev/hin.freq.lemmatised.txt -text
/hin.prob -text svneol=unset#unset
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
texts/maharastra1.raw.txt -text
texts/maharastra2.raw.txt -text
texts/maharastra3.raw.txt -text
texts/maharastra4.raw.txt -text
texts/maharastra5.raw.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
