/*.att.gz
/*.bin
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-hin.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/ap_include.am
/hin-disam.mode
/hin-gener.mode
/hin-morph.mode
/hin-spell.mode
/hin-tagger.mode
/hin-tokenise.mode
